/* Mobile */
#a {
  background-color: darkturquoise
}

#b {
  background-color: darkviolet
}

#c {
  background-color: deeppink;
}

#d {
  background-color: deepskyblue;
}

#e {
  background-color: dodgerblue;
}

#f {
  background-color: firebrick;
}

#g {
  background-color: floralwhite;
}

#h {
  background-color: forestgreen;
}

#i {
  background-color: fuchsia;
}

/* Tablet */
@media(min-width: 480px) {
  #a {
    background-color: cadetblue;
  }
  
  #b {
    background-color: coral;
  }
  
  #c {
    background-color: cornflowerblue;
  }
  
  #d {
    background-color: cornsilk;
  }
  
  #e {
    background-color: cyan;
  }
  
  #f {
    background-color: darkcyan;
  }
  
  #g {
    background-color: darkgoldenrod;
  }
  
  #h {
    background-color: darkkhaki;
  }
  
  #i {
    background-color: darkseagreen;
  }
}

/* Desktop */
@media(min-width: 768px) {
  #a {
    background-color: aliceblue;
  }
  
  #b {
    background-color: antiquewhite;
  }
  
  #c {
    background-color: aqua;
  }
  
  #d {
    background-color: aquamarine;
  }
  
  #e {
    background-color: azure;
  }
  
  #f {
    background-color: beige;
  }
  
  #g {
    background-color: bisque;
  }
  
  #h {
    background-color: blanchedalmond;
  }
  
  #i {
    background-color: burlywood;
  }
}
